@import "tailwindcss";

* {
  font-family: 'DM Sans', sans-serif;
}

.font-display {
  font-family: 'Playfair Display', serif;
}


:root {
  --primary:      #2563eb; 
  --primary-dark: #1e40af;
  --primary-light:#3b82f6;

  --bg-dark:      #0f172a;
  --bg-gradient:  linear-gradient(135deg, #0f172a, #1e3a8a);

  --surface:      #f8fafc;
  --surface-dark: rgba(255,255,255,0.08);

  --border:       rgba(255,255,255,0.15);

  --text:         #0f172a;
  --text-light:   #ffffff;
  --text-muted:   #94a3b8;
}


::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0f172a; }
::-webkit-scrollbar-thumb {
  background: rgba(59,130,246,0.4);
  border-radius: 3px;
}